In [2]:
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go

In [35]:
max_data = pd.read_csv('max10.txt', sep=" ", header=None)
max_data.columns = ["max"]

In [36]:
mean_data = pd.read_csv('mean10.txt', sep=" ", header=None)
mean_data.columns = ["mean"]

In [37]:
min_data = pd.read_csv('min10.txt', sep=" ", header=None)
min_data.columns = ["min"]

In [38]:
std_data = pd.read_csv('std10.txt', sep=" ", header=None)
std_data.columns = ["std"]

In [39]:
var_data = pd.read_csv('var10.txt', sep=" ", header=None)
var_data.columns = ["var"]

In [40]:
frames = [max_data, mean_data, min_data, std_data, var_data]

In [41]:
result = pd.concat(frames, axis=1)

In [42]:
result.head()

       max       mean   min            std           var
0  1001827   40527.44    75  196225.732360  3.850454e+10
1   167735   17832.68   189   39583.846969  1.566881e+09
2   659904  103333.60   340  178864.113890  3.199237e+10
3  2478120  387437.68  1195  603611.001781  3.643462e+11
4  2306652  489714.52  2135  749068.511552  5.611036e+11

In [43]:
ga_result = result.to_csv('ga_data10.csv', index=False)

In [44]:
ga_test10 = pd.read_csv('ga_data10.csv', keep_default_na=False, na_values=[""])

In [45]:
ga_test10.head()

       max       mean   min            std           var
0  1001827   40527.44    75  196225.732360  3.850454e+10
1   167735   17832.68   189   39583.846969  1.566881e+09
2   659904  103333.60   340  178864.113890  3.199237e+10
3  2478120  387437.68  1195  603611.001781  3.643462e+11
4  2306652  489714.52  2135  749068.511552  5.611036e+11

In [46]:
ten_tests = [1,2,3,4,5,6,7,8,9,10]

In [7]:
number_of_tests = [1,2,3,4,5,6,7,8,9,10,
         11,12,13,14,15,16,17,18,19,20,
         21,22,23,24,25,26,27,28,29,30,
         31,32,33,34,35,36,37,38,39,40,
         41,42,43,44,45,46,47,48,49,50,
         51,52,53,54,55,56,57,58,59,60,
         61,62,63,64,65,66,67,68,69,70,
         71,72,73,74,75,76,77,78,79,80,
         81,82,83,84,85,86,87,88,89,90,
         91,92,93,94,95,96,97,98,99,100]

In [47]:
# Create traces
trace0 = go.Scatter(
    x = ten_tests,
    y = ga_test10['max'],
    mode = 'lines',
    name = 'Maximum Score'
)
# trace1 = go.Scatter(
#     x = number_of_tests,
#     y = ga_test['mean'],
#     mode = 'lines+markers',
#     name = 'Mean Score'
# )
trace2 = go.Scatter(
    x = ten_tests,
    y = ga_test10['std'],
    fill='tozeroy',
    name = 'Standard Deviation',
    mode= 'none'
)
data = [trace0, trace2]
layout = go.Layout(
    title='10 Tetris Samples',
    barmode='overlay',
    xaxis=dict(
        title='Number of Games'
    ),
    yaxis=dict(
        title='Score'
    ),
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='line-mode')

In [49]:
trace1 = go.Histogram(
    x=ga_test10['var'],
    opacity=0.75,
    name = 'Variability'
)
data = [trace1]
layout = go.Layout(
    title='10 Tetris Samples: Variability',
    barmode='overlay',
    xaxis=dict(
        title='Score'
    ),
    yaxis=dict(
        title='Number of Games'
    ),
)
fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='overlaid histogram')

In [29]:
trace1 = go.Histogram(
    x=ga_test['std'],
    opacity=0.75,
    name = 'Standard Deviation'
)
data = [trace1]
layout = go.Layout(
    title='100 Tetris Samples: Standard Deviation',
    barmode='overlay',
    xaxis=dict(
        title='Score'
    ),
    yaxis=dict(
        title='Number of Games'
    ),
)
fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='overlaid histogram')